<h2 id="about">About me</h2>
<p>
    I've been working with information technology & people since late 2008 where I ended my education.
    Since then I've worked as different roles on a multitude of projects and programs. All this allowing me to perfect both my
    personal and professional skills.
</p>
<p>
    I absolutely love working as an enterprise architect. I worked my way up from starting as a developer to then becoming a solutions architect and from there to being enterprise architect.
</p>

<br />
<h2 id="career">Employment history</h2>

<div class="experience-container">
<div class="experience__date">Jan 2020 - present</div>
<div class="experience__title">Enterprise Architect</div>
<div class="experience__company">Bunker Holding A/S</div>

<ul class="experience-focus">
    <li>Cloud adption</li>
    <li>Architecture</li>
    <li>Business development</li>
</ul>
<div class="experience__summary">
A little description about my work highlighting some special things and such!
This is a semi long descritopn spanning mulitple lines and there migt be some additional
</div>
</div>
<div class="experience-container">
<div class="experience__date"> Jan 2019 - Dec 2019</div>
<div class="experience__title">Lead Domain Architect</div>
<div class="experience__company">Bankdata</div>

<ul class="experience-focus">
    <li>Solution Architecture</li>
    <li>Angular mono-repo setup</li>
    <li>Azure AKS workloads</li>
    <li>Travis CI with Snyk integration</li>
</ul>
</div>
<div class="experience-container">
    <div class="experience__date">Jan 2017 - Jun 2019</div>
    <div class="experience__title">Domain Architect</div>
    <div class="experience__company">Bankdata</div>
    
    <ul class="experience-focus">
        <li>Microservice architecture</li>
        <li>Domain driven development</li>
        <li>Openshift/Kubernetes</li>
    </ul>
</div>

<div class="experience-container">
    <div class="experience__date">Nov 2013 - Jan 2017</div>
    <div class="experience__title">Solution Architect</div>
    <div class="experience__company">Bankdata</div>
    
    <ul class="experience-focus">
        <li>System design / architecture</li>
        <li>Development of portlet framework on JSR 286</li>
        <li>Development of web framework for JAVA EE7 web apps</li>
    </ul>
</div>

<div class="experiencecontainer">
    <div class="experience__date">Jan 2010 - Nov 2013</div>
    <div class="experience__title">Java Developer</div>
    <div class="experience__company">Bankdata</div>
    
    <ul class="experience-focus">
        <li>JSR 286 portlet development</li>
        <li>IBM Struts portlet development/li>
        <li>Solution architecture</li>
    </ul>
</div>
<div class="experience-container">
    <div class="experience__date">Dec 2008 - Jan 2010</div>
    <div class="experience__title">COBOL Developer</div>
    <div class="experience__company">Bankdata</div>
    
    <ul class="experience-focus">
        <li>Development on z/OS</li>
        <li>JCL Development</li>
        <li>DB2 SQL</li>
        <li>Database design</li>
    </ul>
</div>
<div class="experience-container">
    <div class="experience__date">Jan 2008 - Sep 2008</div>
    <div class="experience__title">.Net CE Developer</div>
    <div class="experience__company">Microting</div>
    
    <ul class="experience-focus">
        <li>Design & deveopment in C# for .NET CE</li>
        <li>Product & business development</li>
    </ul>
</div>

<h2 id="education">Education</h2>

<div class="experience-container">
    <div class="experience__date">Aug 2006 - Nov 2008</div>
    <div class="experience__title">Datamatiker</div>
    <div class="experience__company">EUC Lillebælt</div>
</div>

<div class="experience-container">
    <div class="experience__date">Aug 2001 - Nov 2004</div>
    <div class="experience__title">HTX</div>
    <div class="experience__company">EUC Syd</div>
</div>