<h2 id="about">About me</h2>
<p>
    I've been working with information technology & people since late 2008 where I ended my education.
    Since then I've worked as different roles on a multitude of projects and programs. All this allowing me to develop
    both my personal and professional skills.
</p>
<p>
    I absolutely love working as an enterprise architect as I'm working closely with the business while at the same time
    working closely with developers and architects.
    In my opinion this is where the magic happens! We constantly inspire each other to be more ambitious and to find
    clever solutions to our problems might they be business related or pure technical.
</p>
<h5>Personal</h5>
<p>
    I absolutely love to ride my bike, so I do that alot! For me it's a perfect way of keeping in shape and clearing the
    head after a long day of work filled with complex topics and decissions.
    The last couple of years I've managed to train througout the winter so my form is pretty decent 😉 Ping me if you
    wanna go for a ride 🚴🏼‍♂️💨
</p>
<p>
    When not riding my bike I love spending time with family and friends. I enjoy a nice dinner in good company. My wife
    and I are also spending quite some time in our garden
    as we're trying to farm as much of the vegtebales we need ourselves. I must admit it's mostly her idea and effort,
    but I help a little now and then 😇
</p>
<p>
    Feel free to reach out if you want to know more about what I do or are doing similar work - I love to share and
    learn!
</p>
<h2 id="career">Employment history</h2>

<div class="experience">
    <div class="experience__date">Jan 2020 - present</div>
    <div class="experience__title">Enterprise Architect</div>
    <div class="experience__company">Bunker Holding A/S</div>

    <ul class="experience__focus">
        <li>Cloud adption</li>
        <li>Event-driven architecture</li>
        <li>Business development</li>
    </ul>
    <div class="experience__summary">
        I've already learned a lot and keep on learning every day. At my watch
        we've introduced an integration platform (events & API's), event-driven architecture,
        a more structured approach to cloud computing and helping the business succed with faster and better cloud
        adoption. Currently working a lot with innovation and finding a concept which allows us test some great ideas
        and find out if they should be a product or service.
    </div>
</div>
<div class="experience">
    <div class="experience__date"> Jan 2019 - Dec 2019</div>
    <div class="experience__title">Lead Domain Architect</div>
    <div class="experience__company">Bankdata</div>

    <ul class="experience__focus">
        <li>Solution Architecture</li>
        <li>Angular mono-repo setup</li>
        <li>Azure AKS workloads</li>
        <li>Travis CI with Snyk integration</li>
    </ul>
    <div class="experience__summary">
        <p>
            We were set out to build the best homebank app in DK using best in class technology and working
            methodologies. We wanted to deliver a unique experience on both mobile a web.
            This was acheived by applying a mobile-first mindset and using Angular, Nativescript with and a rather
            complex build setup building to both iOS, Android & web.
        </p>
        <p>
            This was one of the most complex working scenarios I've every been in both because of all the new technology
            & because we needed to find new and clever ways of working together.
            As lead architect my resposibility was to ensure that we didn't cut too many corners and ensure that we
            found the right solutions and technical designs for our problems.
            At this project there were a lot of new tech for everyone, so we also needed to spend some time guiding and
            helping each other take responsibility in our new roles.
        </p>
    </div>
</div>
<div class="experience">
    <div class="experience__date">Jan 2017 - Jun 2019</div>
    <div class="experience__title">Domain Architect</div>
    <div class="experience__company">Bankdata</div>

    <ul class="experience__focus">
        <li>Microservice architecture</li>
        <li>Domain driven development</li>
        <li>Openshift/Kubernetes</li>
    </ul>
    <div class="experience__summary">
        <p>
            I was asked to be architect on this big real-estate program. The program should replace an old 3rd party real-easte platform
            that Totalkredit had been delivering to our advisors. Totalkredit decided that they instead would expose API's and no UI. this
            should instead be developed in the different Bank Centrals ensuring effective implementation with the advisors other tools and systems.
        </p>
        <p>
            I was on the program from the start hence I was in on all the big decissions regarding technology and architecture. This was very exciting because 
            we went from monolithic portal java development to single page Angular app, and moved from Monoliths to Microservices in containers. We also gained alot of
            experience with automated testing and how much confidence is needed for actually doing trunk-based development. I my humble opinion we actually got a couple of 
            real devops teams going.
        </p>
    </div>
</div>

<div class="experience">
    <div class="experience__date">Nov 2013 - Jan 2017</div>
    <div class="experience__title">Solution Architect</div>
    <div class="experience__company">Bankdata</div>

    <ul class="experience__focus">
        <li>System design / architecture</li>
        <li>Development of portlet framework on JSR 286</li>
        <li>Development of web framework for JAVA EE7 web apps</li>
    </ul>
</div>

<div class="experience">
    <div class="experience__date">Jan 2010 - Nov 2013</div>
    <div class="experience__title">Java Developer</div>
    <div class="experience__company">Bankdata</div>

    <ul class="experience__focus">
        <li>JSR 286 portlet development</li>
        <li>IBM Struts portlet development/li>
        <li>Solution architecture</li>
    </ul>
</div>

<div class="experience">
    <div class="experience__date">Dec 2008 - Jan 2010</div>
    <div class="experience__title">COBOL Developer</div>
    <div class="experience__company">Bankdata</div>

    <ul class="experience__focus">
        <li>Development on z/OS</li>
        <li>JCL Development</li>
        <li>DB2 SQL</li>
        <li>Database design</li>
    </ul>

    <span class="experience__project__header">Projects</span>
    <div class="experience__project">
        <div class="experience__project__title">AML (Safewatch profiling)</div>
        <div class="experience__project__description">Optimizing 3rd party solution for our needs and implementing our
            first profiling solution.
            a lot of effort was spend on optimizing the vendors solutions as it was simply not ready for the transaction
            load we needed to run.</div>
    </div>
    <div class="experience__project">
        <div class="experience__project__title">VISA Dankort 2Gen</div>
        <div class="experience__project__description">Application design and development of backend solution</div>
    </div>
    <div class="experience__project">
        <div class="experience__project__title">Mobilpenge</div>
        <div class="experience__project__description">Solution design and development of backend solution for
            transfering money between customers.</div>
    </div>
    <div class="experience__project">
        <div class="experience__project__title">Sepa Direct Debit</div>
        <div class="experience__project__description">Solution design and development of backend solution to enabling
            transfers via SEPA Direct Debit</div>
    </div>
    <div class="experience__project">
        <div class="experience__project__title">Credit Solutions</div>
        <div class="experience__project__description">Developing credit solutions for coordinated "Tinglysnings" process
            in Denmark, which was being digitalized at the time.</div>
    </div>
</div>
<div class="experience">
    <div class="experience__date">Jan 2008 - Sep 2008</div>
    <div class="experience__title">.Net CE Developer</div>
    <div class="experience__company">Microting</div>

    <ul class="experience__focus">
        <li>Design & deveopment in C# for .NET CE</li>
        <li>Product & business development</li>
    </ul>

    <div class="experience__summary">
        A very interesting part time job I had alongside my studies. Microting was a start up in the process of
        developing a solution to collecting customer feedback
        via a PDA. We were a very small team so everybody was in on the whole thing. I learned a lot about start-ups and
        how much work is needed to land customers when you don't have a real product yet.
    </div>
</div>

<h2 id="education">Education</h2>

<div class="experience">
    <div class="experience__date">Aug 2006 - Nov 2008</div>
    <div class="experience__title">Datamatiker</div>
    <div class="experience__company">EUC Lillebælt</div>
</div>

<div class="experience">
    <div class="experience__date">Aug 2001 - Nov 2004</div>
    <div class="experience__title">HTX</div>
    <div class="experience__company">EUC Syd</div>
</div>

<h2 id="training">Training & Certifications</h2>

<p>Microsoft Azure Fundamentals - AZ-900 (2021)</p>
<p>Microsoft Security, Compliance, and Identity Fundamentals - SC-900 (2021)</p>
<p>Azure Architect Technologies - AZ-303 (2021)</p>
<p>Microsoft Azure Architect Design - AZ-304 (2021)</p>
<p>IT Arkitekt, Foundation - Nov 2013</p>
<p>IT Arkitekt, Practitioner - Okt 2015</p>

